---
########################################################################################
# clang-format definition file for the SLProject code style
########################################################################################
# For general coding style rules in SLProject see:
# https://github.com/cpvrlab/SLProject/wiki/SLProject-Coding-Style
# Please do not change this file without contacting m.hudritsch@vtxmail.ch
# For options see: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# For clang-format integration see:
# Qt Creator:     https://doc.qt.io/qtcreator/creator-beautifier.html
# Visual Studio:  https://marketplace.visualstudio.com/items?itemName=xaver.clang-format
# Android Studio: https://plugins.jetbrains.com/plugin/8396-clangformatij
########################################################################################

BasedOnStyle: Mozilla
BinPackParameters: false
AccessModifierOffset: 0

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlignEscapedNewlines: DontAlign

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
#PenaltyReturnTypeOnItsOwnLine: 0

AlwaysBreakBeforeMultilineStrings: false

BreakConstructorInitializers: BeforeColon
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false 

ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
IndentPPDirectives: AfterHash
IndentWidth: 4
Language: Cpp
PointerAlignment: Left

#UseTab: ForIndentation
#PenaltyBreakComment: 100
ReflowComments: true

SortIncludes: false
SortUsingDeclarations: true

SpaceAfterTemplateKeyword: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpacesInAngles: false
SpaceInEmptyParentheses: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

Standard: Cpp11
...
