# Ignored files

*.suo
*.vsp
*.user
*.user.*
*.sdf
*.opensdf
*.idb
*.pdb
*.obj
*.md5
*.dll
*.lib
*.exe
*.opendb
*.psess
*.db
*.so
*.bak
*.xcuserstate
*~

moc_*.cpp

!christoffelturm.obj

obj/
ipch/
_bin/
_bin-*/
_lib/
_doc/
intermediate/
Makefile
.qmake*
GenerateHTMLDoc.log
*.autosave
*.Release
*.Debug
.metadata
.recommenders
*.class
*.classpath
*.project
.settings
.vs
