# Ignored files

*.suo
*.vsp
*.user
*.user.*
*.sdf
*.opensdf
*.idb
*.pdb
*.obj
*.md5
*.dll
*.lib
*.exe
*.opendb
*.psess
*.db
*.so
*.bak
*.log
*.tlog
*.lnk
*.xcuserstate
*~
data/models/PLY/xyzrgb_dragon.ply
data/images/sequences/rgbd_dataset_freiburg1_desk
data/calibrations/orb-slam-state-*
data/calibrations/street*
data/calibrations/ORBvoc.txt
data/calibrations/imgs
data/videos
data/slam-maps
externals/g2o/BUILD*
externals/g2o/INSTALL*
externals/g2o/bin
externals/g2o/lib*
externals/prebuild_scripts/opencv
externals/prebuild_scripts/opencv_contrib
apps/app-Demo-WAI/android/app/.cxx

moc_*.h
moc_*.cpp

!christoffelturm.obj

_build*/
build*/
_bin*/
bin*/
obj/
ipch/
_doc/
externals/prebuilt/*
intermediate/
cmake-build*/
*Snapchat3D/

Makefile
.qmake*
GenerateHTMLDoc.log
*.autosave
*.Release
*.Debug
.metadata
.recommenders
*.class
*.classpath
*.project
.settings
.vs
.vscode/*
.idea
.DS_Store
gitcommit.h
